/* Navbar Styles */
.navbar {
  width: 100%;
  padding: .5rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  z-index: 1000;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-content {
  width: 100%;
  max-width: 1200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.navbar-logo {
  float: left;
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.navbar-title {
  font-size: 1.2rem;
  font-weight: 500;
  color: #facc15;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-left: 2rem;
}

@media (max-width: 768px) {
  .navbar-title {
    font-size: .75rem;
  }
}